{% extends 'base.html' %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock js %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block content %}
    <h3> Username: {{ request.user }}</h3>

    <h2>Channels:</h2> <p><a href="{% url 'tv:new_channel' %}">{% trans "Adding new channel" %}</a></p>

    <ul>
        {% for channel in object_list %}
            <li>{{ channel.name }}</li>
            <li>{{ channel.description }}</li>
            <li>{{ channel.url }}</li>
            <li>{{ channel.owner_user }}</li>
            <li><a href="{% url 'tv:update_channel' channel.pk %}">Edit</a></li>
            <li><a href="{% url 'tv:delete_channel' channel.pk %}">Delete</a></li>
            <li>----------------</li>
        {% empty %}
            <li>No channels yet.</li>
        {% endfor %}
    </ul>

  <a href="{% url 'logout' %}">Logout</a>
{% endblock %}
