{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock js %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block content %}
  <h2> Username: {{ request.user }}</h2>

  <h2> New Channel</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>

  <a href="{% url 'tv:channels' %}">Cancel</a>
  <a href="{% url 'logout' %}">Logout</a>
{% endblock %}