{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PyTv</title>
        {% block css %}
            <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/main.css' %}" rel="stylesheet">
        {% endblock %}
        {% block js %}
            <script>
              var language = "{{ LANGUAGE_CODE }}";
            </script>
            <script src="{% static 'js/libs/jquery/jquery-3.2.1.min.js' %}"></script>
            <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
        {% endblock %}
    </head>
    <body background="{% static 'img/login/background_login.jpg' %}">
        <div class="container">
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
            {% block contentFooter %}{% endblock %}
        </div>
        <!--<div class="footer">-->
            <!--footer-->
        <!--</div>-->
    </body>
</html>
